* {
    text-decoration: none;
    color: #000;
}
::selection{
    background-color: rgb(26, 136, 130);
    color: #fff;
}
body {
    font-size: 1.5rem;
}

/* //* :Hover */
.hover a:hover {
    background-color: #000;
    color: #fff;
    text-decoration: none;
}

/* //* :active */
.active-button {
    background-color: lightseagreen;
    border: none;
    padding: 10px 30px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: .1s;
}

.active-button:hover {
    box-shadow: 0 0 10px #a2a2a2;
}

.active-button:active {
    transform: scale(.98);
    box-shadow: none;
}

/* //* :focus */
.focus-button {
    background-color: lightblue;
    border: none;
    padding: 15px 30px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: .1s;
}

.focus-button:hover {
    box-shadow: 0 0 10px #a2a2a2;
}

.focus-button:focus {
    background-color: #000;
    color: #fff;
    outline: 4px dotted blue;
    outline-offset: 2px;
}

.helper {
    display: none;
}

/*:focus-within .helper{
    display: block;
} */

/* //* :target */
#main-content:target,
#main-content:target ~ * {
    background-color: lightgoldenrodyellow;
    scroll-margin-top: 30px;
}

/* //* :link, :visited, :hover, :active */
.link:link {
    color: blue;
}

.link:visited {
    color: red;
}

.link:hover {
    color: lawngreen;
}

.link:active {
    transform: scale(.98);
    display: inline-block;
    color: black;
}

/* //* :disable and :enabled */
.disable:disabled {
    background-color: black;
    color: #fff;
    padding: 20px 30px;
    display: inline-block;
    font-size: 1.2rem;
    cursor: not-allowed;
}

.enable:enabled {
    border: none;
    background-color: lightseagreen;
    transform: scale(.98);
    display: inline-block;
}

.enable:active {
    outline: 2px solid;
}

/* //* :check and :indeterminate */
#check:checked{
    box-shadow: 0 0 5px green;
}
/* //* :placeholder-shown */
#placeholder:placeholder-shown{
    font-style: italic;
    padding: .2rem;
    font-size: 1rem;
}

/* //* :valid, :invalid, :in-range */
#valid-invalid:valid{
    border: 1px solid green;
}
#valid-invalid:invalid{
    border: 1px solid red;
}
#range:in-range{
    background-color: lightseagreen;
}

/* //* :first-child and :last-child, :only-child */
.article p:first-child{
    background-color: lightseagreen;
}
.article p:last-child{
    background-color: lightblue;
}

#only-child li:only-child{
    background-color: lightcyan;
}