* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin: 5px;
}
hr{
    margin-top: 10px;
    height: 2px;
    background-color: #000;
    border: 0;
    border-radius: 5px;
}
.box{
    margin: 5px 0;
    border: 2px solid #000;
    background-color: red;
}
.parent{
    margin: 10px 0;
    padding: 2px;
    border: 2px solid;
}